<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MARVEL_PRIVATE_KEY</key>
	<string>6d3b9f65dc6b365cbc8fa926f8094ba9a2550e85</string>
	<key>MARVEL_PUBLIC_KEY</key>
	<string>6c174e003be0caffed65eecfee7b79ee</string>
</dict>
</plist>
